@keyframes shake {
    25%{
        transform: translateX(4px);
    }
    50%{
        transform: translateX(-4px);
    }
    100%{
        transform: translateX(4px);
    }
}


*{
    font-family: 'Abhaya Libre', serif;
    font-size: 14px;
    color: #00091F;
}
h1 {
    font-weight: 800;
    font-size: 32px;
}
h2 {
    font-size: 24px;
    font-weight: 600;
}
h6 {
    font-size: 16px;
    margin: 0;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 16px;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 16px;
  }
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100%;
    width:  100%
}
a {
    text-decoration: none;
}
main {
    width: 100%;
    height: 100%;
 }
 /* controla os textos principais*/
.principal {
    text-align:center;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#minimalistaEffect {
    opacity: 60%;
}
 /* controla os botoes*/
section {
    position: absolute;
    z-index: 999;
    width: 90%;
    bottom: 30px;
    text-align:center;
}
.btn {
    width: 80%;
    height: 50px;
    border-radius: 17px !important;
}
.btn-outline-primary {
    --bs-btn-border-color: none;
}
/* PAGINA SIGNIN */
.forms {
    text-align: left;
}
input {
    height: 50px;
    border-radius: 17px !important;
}
#usernameHelpBlock { /* Mudar quando o username ja tiver no cadastro*/
    display: none;
}
#passwordHelpBlock { /* Mudar quando a senha nao bater com os requisitos*/
    display: none;
}
#keyHelpBlock { /* Mudar quando a key nao bater com os requisitos*/
    display: none;
}
#newPasswordHelpBlock { /* Mudar quando as senhas nao bater forem iguais*/
    display: none;
}
#WrongHelpBlock { /* Mudar a senha ou user do login estiverem incorretos*/
    display: none;
}
#forgotPhrase {
    text-align: left;
    padding-top: 12px;
    margin: 0;
}
.Entrar {
    padding-top: 12px;
}
#googlePhrase {
    font-size: 12px;
    opacity: 60%;
    text-align: center;
    padding: 12px 0px 12px 0px;
}
.btnGoogle {
    --bs-btn-border-color: none ;
    background-color: rgb(201, 201, 198);
    color: black;
}
.askPhrase {
    display: flex;
    justify-content:center;
}

/* PAGINA SIGNUP */
.Concluir {
    padding-top: 100px;
}

/* PAGINA RESETKEY */
.verificar {
    padding-top: 100px;
}
.return {
    padding: 5px 10px 5px 10px;
    background-color: #c4c6cc;
    border-radius: 12px;
    margin-left: 30px;
    margin-top: 30px;
}
/* PAGINA TODO*/
#taskPages {
    background-color: rgb(240, 245, 247) !important;
}
.titleAPP {
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 50px;
    width: 80%;
    box-shadow: -2px 27px 36px -11px rgba(0,0,0,0.18);
    border-radius: 17px;
    text-align:center;
    left: 50%;
    transform: translate( -50%);
}
#todo {
    background-color: rgb(222, 233, 236) ;
}
.menuOptions {
    height: 70px;
    width: 100%;
    box-shadow: -2px 27px 36px 11px rgba(0,0,0,0.50);
    background-color: white;
    bottom: 0;
    border-radius: 40% 40% 0px 0px;
    position: fixed;
}
.btnOpt {
    border:none;
    background: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menuBtn {
    justify-content: space-around;
    display: flex;
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon {
    font-size: larger;
}
.addTask {
    position: absolute;
    bottom: 90px;
    right: 10%;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.20);
    background-color: #BAD0E7;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(0.12turn);
}
.addTask i {
    color: #AE2323;
    transform: rotate(0.12turn);
}
.newTask {
    background-color: #FAFAFA;
    z-index: 999999999;
    position: absolute;
    height: 60%;
    width: 90%;
    bottom: 22%;
    left: 5%;
    border-radius: 10px;
    box-shadow:4px 4px 5px 1px rgba(0,0,0,0.20);
    padding: 5% 5% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#descriptionTask {
    height: 40%;
    border-radius: 17px;
}
.RemoveAccept {
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
}
.headerClose {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.RemoveAccept button {
    border: none;
    background-color: #E8EEF3;
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
}
.fa-trash-can{
    color: red;
}
.fa-check {
    color: green;
}



/* PAGE SETTINGS */
#taskPages {
    display: block;
}
.mainConfig {
    margin: 5%;
    margin-top: 10%;
}
#profilePic {
    height: auto;
    width: 18%;
    border-radius: 25%;
}
.profile {
    width: 100%;
    height: 65px;
    border-radius: 17px;
    padding: 8px 25px 10px 10px;
    background-color: #185BFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 16px;

}
p {
    margin: 0;
}
#name {
    margin: 0;
    margin: 10px;
    color: white;
}
#nameEpic {
    display: flex;
    align-items: center;
}
.md-noturno {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.form-switch {
    font-size: 20px;
}
.info {
    font-size: 10px;
}
.opcoes {
    height: 25px;
    margin: 15px;
}
.github {
    margin-top: 20px;
}
.github > a {
    color: #042370;
}
.aviso {
    color: #AE2323;
}
.aviso > .info {
    color: #e79494;
}
.taskTitle {
    font-family: 'Aclonica', sans-serif !important;
    font-size: 16px;
    text-align: center;
}
.opcoes > h6 > a {
    font-size: 16px;
    color: #00091F;
}